In [31]:
import pandas as pd

df = pd.DataFrame({'price': [10.50, 20.00, 5.75] , 'mm': [99,9,9] })

print(df)

   price  mm
0  10.50  99
1  20.00   9
2   5.75   9

In [33]:
df['k'] = df['price'] + df['mm']
df

   price  mm       k
0  10.50  99  109.50
1  20.00   9   29.00
2   5.75   9   14.75

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   3 non-null      float64
 1   mm      3 non-null      int64
 2   k       3 non-null      float64
dtypes: float64(2), int64(1)
memory usage: 204.0 bytes

In [35]:
df.sum(axis=2)

ValueError: No axis named 2 for object type DataFrame

In [24]:
df['k']

0    0.106061
1    2.222222
2    0.638889
Name: k, dtype: float64

In [8]:
df_test = df['Signal']

      price clean_price
0    $10.50      $10.50
1    $20.00      $20.00
2  $5.75       $5.75