In [121]:
import pandas as pd 

df = pd.read_csv(r"C:\Users\Access\Documents\AI\gold_heiken_ashi_2020_2025.csv")
df = df.drop(columns=['Unnamed: 0'])

In [122]:
df['Gmt time'] = pd.to_datetime(df['Gmt time'])

In [123]:
df = df[~df['Gmt time'].dt.dayofweek.isin([5, 6])]

In [124]:
df = df.copy() 
df["prev_time"] = df["Gmt time"].shift(1)
df["time_gap"] = (df["Gmt time"] - df["prev_time"]).dt.total_seconds() / 60 # ÿ®ÿßŸÑÿØŸÇÿßŸäŸÇ
df.dropna(subset=["prev_time", "time_gap"], inplace=True)

In [125]:
import pandas as pd
import pytz
from datetime import datetime

df['date'] = df['Gmt time'].dt.date
df['hour'] = df['Gmt time'].dt.hour
df['minute'] = df['Gmt time'].dt.minute

In [126]:
# ÿØÿßŸÑÿ© ŸÑŸÖÿπÿ±ŸÅÿ© ŸáŸÑ ÿßŸÑŸäŸàŸÖ ŸÅŸä DST ŸÅŸä ŸÖŸÜÿ∑ŸÇÿ© ÿ≤ŸÖŸÜŸäÿ© ŸÖÿπŸäŸÜÿ©
def is_dst(date, tz_name):
    tz = pytz.timezone(tz_name)
    try:
        dt = datetime.combine(date, datetime.min.time())
        localized = tz.localize(dt, is_dst=None)
        return bool(localized.dst())
    except:
        return False

In [127]:

# ŸÜÿ≠ÿ≥ÿ® ŸÉŸÑ ÿ¨ŸÑÿ≥ÿ© ŸÉŸÄ Boolean ŸÖÿ≥ÿ™ŸÇŸÑ
def get_sessions(row):
    date = row['date']
    hour = row['hour']

    ny_dst = is_dst(date, "America/New_York")
    london_dst = is_dst(date, "Europe/London")
    sydney_dst = is_dst(date, "Australia/Sydney")

    # ÿ¨ŸÑÿ≥ÿ© ÿ≥ŸäÿØŸÜŸä
    syd_start = 22 if sydney_dst else 21
    syd_end = (syd_start + 9) % 24
    if syd_start < syd_end:
        is_sydney = syd_start <= hour < syd_end
    else:
        is_sydney = (hour >= syd_start or hour < syd_end)

    # ÿ∑ŸàŸÉŸäŸà: 00:00 ‚Äì 09:00 GMT
    is_tokyo = 0 <= hour < 9

    # ŸÑŸÜÿØŸÜ
    london_start = 7 if london_dst else 8
    london_end = 16 if london_dst else 17
    is_london = london_start <= hour < london_end

    # ŸÜŸäŸàŸäŸàÿ±ŸÉ
    ny_start = 12 if ny_dst else 13
    ny_end = 21 if ny_dst else 22
    is_ny = ny_start <= hour < ny_end

    return pd.Series({
        'is_Sydney': int(is_sydney),
        'is_Tokyo': int(is_tokyo),
        'is_London': int(is_london),
        'is_NewYork': int(is_ny)
    })

In [128]:
# ÿ™ÿ∑ÿ®ŸäŸÇ ÿßŸÑÿØÿßŸÑÿ©
df[['is_Sydney', 'is_Tokyo', 'is_London', 'is_NewYork']] = df.apply(get_sessions, axis=1)

# ÿ™ŸàŸÑŸäÿØ is_OffHours ŸÑŸà ŸÖÿ¥ ŸÅŸä ÿ£Ÿä ÿ¨ŸÑÿ≥ÿ©
df['is_OffHours'] = (
    1 - (df['is_Sydney'] | df['is_Tokyo'] | df['is_London'] | df['is_NewYork'])
)

In [129]:
# 1. ÿ≠ÿ≥ÿßÿ® return ŸÑŸÉŸÑ ÿ¥ŸÖÿπÿ©
# ŸÜÿ≠ÿ≥ÿ® ÿßŸÑŸÜÿ≥ÿ®ÿ© ÿßŸÑŸÖÿ¶ŸàŸäÿ© ŸÑŸÑÿ™ÿ∫Ÿäÿ± ÿ®ŸäŸÜ ŸÉŸÑ ÿ¥ŸÖÿπÿ© ŸàÿßŸÑÿ™Ÿä ŸÇÿ®ŸÑŸáÿß
# ÿßŸÑÿµŸäÿ∫ÿ©: return_t = (Close_t - Close_{t-1}) / Close_{t-1}
df['return'] = df['Close'].pct_change() #pct_change = return_t

In [130]:
df = df[1:]

In [131]:
# ÿ™ÿ£ŸÉÿØ ŸÖŸÜ ÿßŸÑÿ™ŸàŸÇŸäÿ™
df['Gmt time'] = pd.to_datetime(df['Gmt time'])
df = df.sort_values('Gmt time')

# ŸÜÿ≠ÿ∑ ÿßŸÑÿ™ŸàŸÇŸäÿ™ ŸÉŸÄ index ŸÖÿ§ŸÇÿ™
df_temp = df.set_index('Gmt time')

# ŸÜÿπŸÖŸÑ resample ŸÑŸÅÿ™ÿ±ÿßÿ™ ÿØŸÇŸäŸÇÿ©
ohlc_1h = df_temp['Close'].resample('1H').last()
ohlc_4h = df_temp['Close'].resample('4H').last()
ohlc_12h = df_temp['Close'].resample('12H').last()
ohlc_24h = df_temp['Close'].resample('24H').last()

# ŸÜÿ≠ÿ≥ÿ® return ÿ≠ŸÇŸäŸÇŸä ŸÑŸÑŸÅÿ™ÿ±ÿßÿ™ ÿßŸÑŸÖÿ≠ÿØÿØÿ© (ÿ®ŸÅÿ±ŸÇ ÿ≤ŸÖŸÜŸä ÿ±ÿ≥ŸÖŸä)
return_1h = ohlc_1h.pct_change()
return_4h = ohlc_4h.pct_change()
return_12h = ohlc_12h.pct_change()
return_24h = ohlc_24h.pct_change()

# ŸÜÿØŸÖÿ¨ ÿßŸÑÿπŸàÿßÿ¶ÿØ ŸÖÿπ ÿßŸÑÿØÿßÿ™ÿß ÿßŸÑÿ£ÿµŸÑŸäÿ©
df = pd.merge_asof(df.sort_values('Gmt time'),
                   return_1h.reset_index().rename(columns={'Close': 'return_1h'}),
                   on='Gmt time', direction='backward')

df = pd.merge_asof(df.sort_values('Gmt time'),
                   return_4h.reset_index().rename(columns={'Close': 'return_4h'}),
                   on='Gmt time', direction='backward')

df = pd.merge_asof(df.sort_values('Gmt time'),
                   return_12h.reset_index().rename(columns={'Close': 'return_12h'}),
                   on='Gmt time', direction='backward')

df = pd.merge_asof(df.sort_values('Gmt time'),
                   return_24h.reset_index().rename(columns={'Close': 'return_24h'}),
                   on='Gmt time', direction='backward')

C:\Users\Access\AppData\Local\Temp\ipykernel_36708\3675523458.py:9: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  ohlc_1h = df_temp['Close'].resample('1H').last()
C:\Users\Access\AppData\Local\Temp\ipykernel_36708\3675523458.py:10: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  ohlc_4h = df_temp['Close'].resample('4H').last()
C:\Users\Access\AppData\Local\Temp\ipykernel_36708\3675523458.py:11: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  ohlc_12h = df_temp['Close'].resample('12H').last()
C:\Users\Access\AppData\Local\Temp\ipykernel_36708\3675523458.py:12: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  ohlc_24h = df_temp['Close'].resample('24H').last()
C:\Users\Access\AppData\Local\Temp\ipykernel_36708\3675523458.py:15: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  return_1h = ohlc_1h.pct_change()
C:\Users\Access\AppData\Local\Temp\ipykernel_36708\3675523458.py:16: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  return_4h = ohlc_4h.pct_change()
C:\Users\Access\AppData\Local\Temp\ipykernel_36708\3675523458.py:17: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  return_12h = ohlc_12h.pct_change()
C:\Users\Access\AppData\Local\Temp\ipykernel_36708\3675523458.py:18: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  return_24h = ohlc_24h.pct_change()

In [135]:
df

,Gmt time,Open,High,Low,Close,prev_time,time_gap,date,hour,minute,is_Sydney,is_Tokyo,is_London,is_NewYork,is_OffHours,return,return_1h,return_4h,return_12h,return_24h
94,2020-01-02 00:00:00,1518.962844,1519.075000,1518.008000,1518.61075,2020-01-01 23:45:00,15.0,2020-01-02,0,0,1,1,0,0,0,-0.000094,-0.000153,0.000955,0.002101,0.006358
95,2020-01-02 00:15:00,1518.786797,1519.305000,1518.568000,1519.02575,2020-01-02 00:00:00,15.0,2020-01-02,0,15,1,1,0,0,0,0.000273,-0.000153,0.000955,0.002101,0.006358
96,2020-01-02 00:30:00,1518.906273,1519.285000,1518.300000,1518.78875,2020-01-02 00:15:00,15.0,2020-01-02,0,30,1,1,0,0,0,-0.000156,-0.000153,0.000955,0.002101,0.006358
97,2020-01-02 00:45:00,1518.847512,1518.847512,1518.300000,1518.52200,2020-01-02 00:30:00,15.0,2020-01-02,0,45,1,1,0,0,0,-0.000176,-0.000153,0.000955,0.002101,0.006358
98,2020-01-02 01:00:00,1518.684756,1519.655000,1517.115000,1518.62750,2020-01-02 00:45:00,15.0,2020-01-02,1,0,1,1,0,0,0,0.000069,0.000587,0.000955,0.002101,0.006358
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115878,2024-12-31 22:45:00,2624.227034,2624.255000,2624.227034,2624.25500,2024-12-31 22:30:00,15.0,2024-12-31,22,45,1,0,0,0,0,0.000000,-0.000011,0.000335,0.005171,0.006845
115879,2024-12-31 23:00:00,2624.241017,2624.255000,2624.241017,2624.25500,2024-12-31 22:45:00,15.0,2024-12-31,23,0,1,0,0,0,0,0.000000,0.000000,0.000335,0.005171,0.006845
115880,2024-12-31 23:15:00,2624.248008,2624.255000,2624.248008,2624.25500,2024-12-31 23:00:00,15.0,2024-12-31,23,15,1,0,0,0,0,0.000000,0.000000,0.000335,0.005171,0.006845
115881,2024-12-31 23:30:00,2624.251504,2624.255000,2624.251504,2624.25500,2024-12-31 23:15:00,15.0,2024-12-31,23,30,1,0,0,0,0,0.000000,0.000000,0.000335,0.005171,0.006845
115882,2024-12-31 23:45:00,2624.253252,2624.255000,2624.253252,2624.25500,2024-12-31 23:30:00,15.0,2024-12-31,23,45,1,0,0,0,0,0.000000,0.000000,0.000335,0.005171,0.006845

In [136]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115789 entries, 94 to 115882
Data columns (total 20 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Gmt time     115789 non-null  datetime64[ns]
 1   Open         115789 non-null  float64
 2   High         115789 non-null  float64
 3   Low          115789 non-null  float64
 4   Close        115789 non-null  float64
 5   prev_time    115789 non-null  datetime64[ns]
 6   time_gap     115789 non-null  float64
 7   date         115789 non-null  object
 8   hour         115789 non-null  int32
 9   minute       115789 non-null  int32
 10  is_Sydney    115789 non-null  int64
 11  is_Tokyo     115789 non-null  int64
 12  is_London    115789 non-null  int64
 13  is_NewYork   115789 non-null  int64
 14  is_OffHours  115789 non-null  int64
 15  return       115789 non-null  float64
 16  return_1h    115789 non-null  float64
 17  return_4h    115789 non-null  float64
 18  return_12h   115789 non-null  float64
 19  return_24h   115789 non-null  float64
dtypes: datetime64[ns](2), float64(10), int32(2), int64(5), object(1)
memory usage: 16.8+ MB

In [137]:

# 1. ÿ™ÿ£ŸÉÿØ ŸÖŸÜ ÿ£ŸÜ ÿßŸÑÿ™ŸàŸÇŸäÿ™ ÿ®ÿµŸäÿ∫ÿ© datetime ŸàŸÖŸèÿ±ÿ™ÿ®
df['Gmt time'] = pd.to_datetime(df['Gmt time'])
df = df.sort_values('Gmt time')

# 2. ÿπŸÖŸÑ ŸÜÿ≥ÿÆÿ© ŸÖŸÜ ÿßŸÑÿØÿßÿ™ÿß ÿ™ÿ™ÿ∂ŸÖŸÜ ŸÅŸÇÿ∑ ÿßŸÑŸàŸÇÿ™ ŸàÿßŸÑÿ•ÿ∫ŸÑÿßŸÇ
resample_df = df[['Gmt time', 'Close']].copy()
resample_df.set_index('Gmt time', inplace=True)

# 3. ÿπŸÖŸÑ resample ÿπŸÑŸâ ŸÅÿ±ŸäŸÖ 4 ÿ≥ÿßÿπÿßÿ™ Ÿàÿ≠ÿ≥ÿßÿ® std
std_4h = resample_df['Close'].resample('4H').std().reset_index()
std_4h.rename(columns={'Close': 'ha_std_4h'}, inplace=True)

# 4. ÿØŸÖÿ¨ ÿßŸÑŸÇŸäŸÖ ŸÖÿπ ÿßŸÑÿØÿßÿ™ÿß ÿßŸÑÿ£ÿµŸÑŸäÿ© ÿ®ÿßÿ≥ÿ™ÿÆÿØÿßŸÖ merge_asof
df = pd.merge_asof(df.sort_values('Gmt time'),
                   std_4h.sort_values('Gmt time'),
                   on='Gmt time',
                   direction='backward')

# ÿßŸÑÿ¢ŸÜ ÿπŸÜÿØŸÉ ÿπŸÖŸàÿØ ha_std_4h ŸäŸÖÿ´ŸÑ STD ÿπŸÑŸâ ŸÅÿ±ŸäŸÖ 4 ÿ≥ÿßÿπÿßÿ™ ŸÅÿπŸÑŸä

C:\Users\Access\AppData\Local\Temp\ipykernel_36708\3397366283.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Gmt time'] = pd.to_datetime(df['Gmt time'])
C:\Users\Access\AppData\Local\Temp\ipykernel_36708\3397366283.py:10: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  std_4h = resample_df['Close'].resample('4H').std().reset_index()

In [138]:
df

,Gmt time,Open,High,Low,Close,prev_time,time_gap,date,hour,minute,...,is_Tokyo,is_London,is_NewYork,is_OffHours,return,return_1h,return_4h,return_12h,return_24h,ha_std_4h
0,2020-01-02 00:00:00,1518.962844,1519.075000,1518.008000,1518.61075,2020-01-01 23:45:00,15.0,2020-01-02,0,0,...,1,0,0,0,-0.000094,-0.000153,0.000955,0.002101,0.006358,0.738922
1,2020-01-02 00:15:00,1518.786797,1519.305000,1518.568000,1519.02575,2020-01-02 00:00:00,15.0,2020-01-02,0,15,...,1,0,0,0,0.000273,-0.000153,0.000955,0.002101,0.006358,0.738922
2,2020-01-02 00:30:00,1518.906273,1519.285000,1518.300000,1518.78875,2020-01-02 00:15:00,15.0,2020-01-02,0,30,...,1,0,0,0,-0.000156,-0.000153,0.000955,0.002101,0.006358,0.738922
3,2020-01-02 00:45:00,1518.847512,1518.847512,1518.300000,1518.52200,2020-01-02 00:30:00,15.0,2020-01-02,0,45,...,1,0,0,0,-0.000176,-0.000153,0.000955,0.002101,0.006358,0.738922
4,2020-01-02 01:00:00,1518.684756,1519.655000,1517.115000,1518.62750,2020-01-02 00:45:00,15.0,2020-01-02,1,0,...,1,0,0,0,0.000069,0.000587,0.000955,0.002101,0.006358,0.738922
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115784,2024-12-31 22:45:00,2624.227034,2624.255000,2624.227034,2624.25500,2024-12-31 22:30:00,15.0,2024-12-31,22,45,...,0,0,0,0,0.000000,-0.000011,0.000335,0.005171,0.006845,0.538841
115785,2024-12-31 23:00:00,2624.241017,2624.255000,2624.241017,2624.25500,2024-12-31 22:45:00,15.0,2024-12-31,23,0,...,0,0,0,0,0.000000,0.000000,0.000335,0.005171,0.006845,0.538841
115786,2024-12-31 23:15:00,2624.248008,2624.255000,2624.248008,2624.25500,2024-12-31 23:00:00,15.0,2024-12-31,23,15,...,0,0,0,0,0.000000,0.000000,0.000335,0.005171,0.006845,0.538841
115787,2024-12-31 23:30:00,2624.251504,2624.255000,2624.251504,2624.25500,2024-12-31 23:15:00,15.0,2024-12-31,23,30,...,0,0,0,0,0.000000,0.000000,0.000335,0.005171,0.006845,0.538841
115788,2024-12-31 23:45:00,2624.253252,2624.255000,2624.253252,2624.25500,2024-12-31 23:30:00,15.0,2024-12-31,23,45,...,0,0,0,0,0.000000,0.000000,0.000335,0.005171,0.006845,0.538841

In [139]:
import pandas_ta as ta

# EMA 10 Ÿà EMA 50
df['ema_10'] = ta.ema(df['Close'], length=10)
df['ema_50'] = ta.ema(df['Close'], length=50)
df['ema_cross'] = (df['ema_10'] > df['ema_50']).astype(int)

# MACD
macd_df = ta.macd(df['Close'])
df = df.join(macd_df)  # Ÿäÿπÿ∑ŸäŸÉ MACD, MACDh, MACDs
df['macd_cross'] = (df['MACD_12_26_9'] > df['MACDs_12_26_9']).astype(int)

# ADX
adx_df = ta.adx(df['High'], df['Low'], df['Close'], length=14)
df = df.join(adx_df)  # Ÿäÿπÿ∑ŸäŸÉ ADX_14, DMP_14, DMN_14
df['is_trend_strong'] = (df['ADX_14'] > 25).astype(int)

In [144]:
df[50:].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115739 entries, 50 to 115788
Data columns (total 32 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Gmt time         115739 non-null  datetime64[ns]
 1   Open             115739 non-null  float64
 2   High             115739 non-null  float64
 3   Low              115739 non-null  float64
 4   Close            115739 non-null  float64
 5   prev_time        115739 non-null  datetime64[ns]
 6   time_gap         115739 non-null  float64
 7   date             115739 non-null  object
 8   hour             115739 non-null  int32
 9   minute           115739 non-null  int32
 10  is_Sydney        115739 non-null  int64
 11  is_Tokyo         115739 non-null  int64
 12  is_London        115739 non-null  int64
 13  is_NewYork       115739 non-null  int64
 14  is_OffHours      115739 non-null  int64
 15  return           115739 non-null  float64
 16  return_1h        115739 non-null  float64
 17  return_4h        115739 non-null  float64
 18  return_12h       115739 non-null  float64
 19  return_24h       115739 non-null  float64
 20  ha_std_4h        115739 non-null  float64
 21  ema_10           115739 non-null  float64
 22  ema_50           115739 non-null  float64
 23  ema_cross        115739 non-null  int32
 24  MACD_12_26_9     115739 non-null  float64
 25  MACDh_12_26_9    115739 non-null  float64
 26  MACDs_12_26_9    115739 non-null  float64
 27  macd_cross       115739 non-null  int32
 28  ADX_14           115739 non-null  float64
 29  DMP_14           115739 non-null  float64
 30  DMN_14           115739 non-null  float64
 31  is_trend_strong  115739 non-null  int32
dtypes: datetime64[ns](2), float64(19), int32(5), int64(5), object(1)
memory usage: 26.0+ MB

In [145]:
df = df[50:]

In [146]:
df_final = df

In [147]:
import pandas as pd

# ŸÜÿ≥ÿÆÿ© ŸÖŸÜ ÿßŸÑÿ®ŸäÿßŸÜÿßÿ™
df = df_final.copy()

n = 24  # ÿπÿØÿØ ÿßŸÑÿ¥ŸÖŸàÿπ (6 ÿ≥ÿßÿπÿßÿ™)

# ÿ≠ÿ≥ÿßÿ® ÿßŸÑÿ≠ÿ±ŸÉÿ© ÿßŸÑŸÖÿ≥ÿ™ŸÇÿ®ŸÑŸäÿ©
df['future_return_24'] = (df['Close'].shift(-n) - df['Close']) / df['Close'] * 100
returns = df['future_return_24'].dropna().abs()

# ÿ™ÿπÿ±ŸäŸÅ ÿßŸÑŸÖÿ¶ŸäŸÜÿßÿ™ ÿßŸÑÿπŸÉÿ≥Ÿäÿ© ÿßŸÑŸÑŸä ÿ•ŸÜÿ™ ÿπÿßŸàÿ≤Ÿáÿß
percentiles = [75, 50, 25, 10, 5, 1]

print(f"üìä ŸÅŸä ŸÉŸÑ ŸÜÿ≥ÿ®ÿ© ŸÖŸÜ ÿßŸÑŸÖÿ±ÿßÿ™ÿå ÿßŸÑÿ≥ÿπÿ± ÿßÿ™ÿ≠ÿ±ŸÉ ÿπŸÑŸâ ÿßŸÑÿ£ŸÇŸÑ ŸÇÿØ ÿ•ŸäŸá ÿÆŸÑÿßŸÑ {n} ÿ¥ŸÖÿπÿ©:\n")

for p in percentiles:
    threshold = returns.quantile((100 - p) / 100)
    print(f"üîπ ŸÅŸä {p}% ŸÖŸÜ ÿßŸÑŸÖÿ±ÿßÿ™ÿå ÿßŸÑÿ≥ÿπÿ± ÿßÿ™ÿ≠ÿ±ŸÉ ÿπŸÑŸâ ÿßŸÑÿ£ŸÇŸÑ: {threshold:.2f}%")

üìä ŸÅŸä ŸÉŸÑ ŸÜÿ≥ÿ®ÿ© ŸÖŸÜ ÿßŸÑŸÖÿ±ÿßÿ™ÿå ÿßŸÑÿ≥ÿπÿ± ÿßÿ™ÿ≠ÿ±ŸÉ ÿπŸÑŸâ ÿßŸÑÿ£ŸÇŸÑ ŸÇÿØ ÿ•ŸäŸá ÿÆŸÑÿßŸÑ 24 ÿ¥ŸÖÿπÿ©:

üîπ ŸÅŸä 75% ŸÖŸÜ ÿßŸÑŸÖÿ±ÿßÿ™ÿå ÿßŸÑÿ≥ÿπÿ± ÿßÿ™ÿ≠ÿ±ŸÉ ÿπŸÑŸâ ÿßŸÑÿ£ŸÇŸÑ: 0.10%
üîπ ŸÅŸä 50% ŸÖŸÜ ÿßŸÑŸÖÿ±ÿßÿ™ÿå ÿßŸÑÿ≥ÿπÿ± ÿßÿ™ÿ≠ÿ±ŸÉ ÿπŸÑŸâ ÿßŸÑÿ£ŸÇŸÑ: 0.22%
üîπ ŸÅŸä 25% ŸÖŸÜ ÿßŸÑŸÖÿ±ÿßÿ™ÿå ÿßŸÑÿ≥ÿπÿ± ÿßÿ™ÿ≠ÿ±ŸÉ ÿπŸÑŸâ ÿßŸÑÿ£ŸÇŸÑ: 0.42%
üîπ ŸÅŸä 10% ŸÖŸÜ ÿßŸÑŸÖÿ±ÿßÿ™ÿå ÿßŸÑÿ≥ÿπÿ± ÿßÿ™ÿ≠ÿ±ŸÉ ÿπŸÑŸâ ÿßŸÑÿ£ŸÇŸÑ: 0.73%
üîπ ŸÅŸä 5% ŸÖŸÜ ÿßŸÑŸÖÿ±ÿßÿ™ÿå ÿßŸÑÿ≥ÿπÿ± ÿßÿ™ÿ≠ÿ±ŸÉ ÿπŸÑŸâ ÿßŸÑÿ£ŸÇŸÑ: 1.00%
üîπ ŸÅŸä 1% ŸÖŸÜ ÿßŸÑŸÖÿ±ÿßÿ™ÿå ÿßŸÑÿ≥ÿπÿ± ÿßÿ™ÿ≠ÿ±ŸÉ ÿπŸÑŸâ ÿßŸÑÿ£ŸÇŸÑ: 1.72%

In [148]:
n_future = 24  # 6 ÿ≥ÿßÿπÿßÿ™ ŸÑŸÇÿØŸëÿßŸÖ

df['future_return'] = df['Close'].shift(-n_future) / df['Close'] - 1

# ŸÜÿ≠ÿØÿØ ÿßŸÑÿ•ÿ¥ÿßÿ±ÿßÿ™ ÿ®ŸÜÿßÿ°Ÿã ÿπŸÑŸâ ÿπÿ™ÿ®ÿ© ŸÖÿπŸäŸÜÿ© ŸÑŸÑÿ≠ÿ±ŸÉÿ©
threshold = 0.01  # ŸäÿπŸÜŸä 0.5% ÿ≠ÿ±ŸÉÿ©

df['Signal'] = 0
df.loc[df['future_return'] > threshold, 'Signal'] = 2
df.loc[df['future_return'] < -threshold, 'Signal'] = 1

In [149]:
df['Signal'].value_counts()

Signal
0    109939
2      2921
1      2879
Name: count, dtype: int64

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115739 entries, 50 to 115788
Data columns (total 35 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Gmt time          115739 non-null  datetime64[ns]
 1   Open              115739 non-null  float64
 2   High              115739 non-null  float64
 3   Low               115739 non-null  float64
 4   Close             115739 non-null  float64
 5   prev_time         115739 non-null  datetime64[ns]
 6   time_gap          115739 non-null  float64
 7   date              115739 non-null  object
 8   hour              115739 non-null  int32
 9   minute            115739 non-null  int32
 10  is_Sydney         115739 non-null  int64
 11  is_Tokyo          115739 non-null  int64
 12  is_London         115739 non-null  int64
 13  is_NewYork        115739 non-null  int64
 14  is_OffHours       115739 non-null  int64
 15  return            115739 non-null  float64
 16  return_1h         115739 non-null  float64
 17  return_4h         115739 non-null  float64
 18  return_12h        115739 non-null  float64
 19  return_24h        115739 non-null  float64
 20  ha_std_4h         115739 non-null  float64
 21  ema_10            115739 non-null  float64
 22  ema_50            115739 non-null  float64
 23  ema_cross         115739 non-null  int32
 24  MACD_12_26_9      115739 non-null  float64
 25  MACDh_12_26_9     115739 non-null  float64
 26  MACDs_12_26_9     115739 non-null  float64
 27  macd_cross        115739 non-null  int32
 28  ADX_14            115739 non-null  float64
 29  DMP_14            115739 non-null  float64
 30  DMN_14            115739 non-null  float64
 31  is_trend_strong   115739 non-null  int32
 32  future_return_24  115715 non-null  float64
 33  future_return     115715 non-null  float64
 34  Signal            115739 non-null  int64
dtypes: datetime64[ns](2), float64(21), int32(5), int64(6), object(1)
memory usage: 28.7+ MB

In [155]:
df_last = df.drop(columns=['prev_time','future_return_24', 'future_return'])

In [156]:
df_last.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115739 entries, 50 to 115788
Data columns (total 32 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Gmt time         115739 non-null  datetime64[ns]
 1   Open             115739 non-null  float64
 2   High             115739 non-null  float64
 3   Low              115739 non-null  float64
 4   Close            115739 non-null  float64
 5   time_gap         115739 non-null  float64
 6   date             115739 non-null  object
 7   hour             115739 non-null  int32
 8   minute           115739 non-null  int32
 9   is_Sydney        115739 non-null  int64
 10  is_Tokyo         115739 non-null  int64
 11  is_London        115739 non-null  int64
 12  is_NewYork       115739 non-null  int64
 13  is_OffHours      115739 non-null  int64
 14  return           115739 non-null  float64
 15  return_1h        115739 non-null  float64
 16  return_4h        115739 non-null  float64
 17  return_12h       115739 non-null  float64
 18  return_24h       115739 non-null  float64
 19  ha_std_4h        115739 non-null  float64
 20  ema_10           115739 non-null  float64
 21  ema_50           115739 non-null  float64
 22  ema_cross        115739 non-null  int32
 23  MACD_12_26_9     115739 non-null  float64
 24  MACDh_12_26_9    115739 non-null  float64
 25  MACDs_12_26_9    115739 non-null  float64
 26  macd_cross       115739 non-null  int32
 27  ADX_14           115739 non-null  float64
 28  DMP_14           115739 non-null  float64
 29  DMN_14           115739 non-null  float64
 30  is_trend_strong  115739 non-null  int32
 31  Signal           115739 non-null  int64
dtypes: datetime64[ns](1), float64(19), int32(5), int64(6), object(1)
memory usage: 26.0+ MB

In [157]:
df_last.columns

Index(['Gmt time', 'Open', 'High', 'Low', 'Close', 'time_gap', 'date', 'hour',
       'minute', 'is_Sydney', 'is_Tokyo', 'is_London', 'is_NewYork',
       'is_OffHours', 'return', 'return_1h', 'return_4h', 'return_12h',
       'return_24h', 'ha_std_4h', 'ema_10', 'ema_50', 'ema_cross',
       'MACD_12_26_9', 'MACDh_12_26_9', 'MACDs_12_26_9', 'macd_cross',
       'ADX_14', 'DMP_14', 'DMN_14', 'is_trend_strong', 'Signal'],
      dtype='object')

In [165]:
df_last.to_csv(r"C:\Users\Access\Documents\AI\gold_heiken_ashi_2020_2025_features.csv")