In [17]:
import pandas as pd
df= pd.read_csv(r"C:\Users\Access\Documents\AI ROBOT\XAUUSD_Candlestick_1_M_BID_2020-1-1_2024-12-31.csv")

In [18]:
df=df.drop(columns='Volume')

In [19]:
import pandas as pd

# تحويل العمود الزمني إلى نوع datetime وتعيينه كمؤشر
df['Gmt time'] = pd.to_datetime(df['Gmt time'])
df.set_index('Gmt time', inplace=True)

# تحويل البيانات من 1 دقيقة إلى 5 دقائق
df_5m = df.resample('5T').agg({
    'Open': 'first',   # أول سعر افتتاح في الفاصل الزمني
    'High': 'max',     # أعلى سعر في الفاصل الزمني
    'Low': 'min',      # أقل سعر في الفاصل الزمني
    'Close': 'last'    # آخر سعر إغلاق في الفاصل الزمني
})

# عرض النتيجة
print(df_5m)

C:\Users\Access\AppData\Local\Temp\ipykernel_17800\422809626.py:8: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_5m = df.resample('5T').agg({

                         Open      High       Low     Close
Gmt time
2020-01-01 00:00:00  1516.915  1516.915  1516.915  1516.915
2020-01-01 00:05:00  1516.915  1516.915  1516.915  1516.915
2020-01-01 00:10:00  1516.915  1516.915  1516.915  1516.915
2020-01-01 00:15:00  1516.915  1516.915  1516.915  1516.915
2020-01-01 00:20:00  1516.915  1516.915  1516.915  1516.915
...                       ...       ...       ...       ...
2024-12-31 23:35:00  2624.255  2624.255  2624.255  2624.255
2024-12-31 23:40:00  2624.255  2624.255  2624.255  2624.255
2024-12-31 23:45:00  2624.255  2624.255  2624.255  2624.255
2024-12-31 23:50:00  2624.255  2624.255  2624.255  2624.255
2024-12-31 23:55:00  2624.255  2624.255  2624.255  2624.255

[526176 rows x 4 columns]

In [20]:
df_5m=df_5m.reset_index(drop=False)

In [36]:
import pandas as pd

# افترض أن df_5m هو DataFrame موجود مسبقًا
df = df_5m

# تعريف دالة التحقق من الشمعة الكبيرة مقارنة بالظلال
def is_large_body(candle):
    body = abs(candle['Open'] - candle['Close'])
    lower_shadow = abs(candle['Low'] - min(candle['Open'], candle['Close']))
    upper_shadow = abs(candle['High'] - max(candle['Open'], candle['Close']))
    return body > (lower_shadow + upper_shadow)

# تعريف دالة التحقق من شمعة الهامر
def is_hammer(candle):
    body = abs(candle['Open'] - candle['Close'])
    lower_shadow = abs(candle['Low'] - min(candle['Open'], candle['Close']))
    upper_shadow = abs(candle['High'] - max(candle['Open'], candle['Close']))
    return lower_shadow > 1 * body and upper_shadow < body

# دالة حساب صفقة شراء باستخدام الهامر
def calculate_buy_trade_hammer(row, df, tp_multiplier=2, sl_multiplier=1):
    idx = row.name  # الفهرس الزمني (Timestamp)
    if idx == df.index[0]:  # إذا كانت الشمعة الأولى، لا توجد صفقة
        return 0, None, None
    first_candle = df.loc[df.index[df.index.get_loc(idx) - 1]]  # الشمعة السابقة
    second_candle = row  # الشمعة الحالية
    if is_large_body(first_candle) and first_candle['Close'] < first_candle['Open'] and is_hammer(second_candle):
        points = abs(first_candle['Open'] - first_candle['Close'])
        take_profit = second_candle['Close'] + (points * tp_multiplier)
        stop_loss = second_candle['Low'] - (points * sl_multiplier)
        return 1, take_profit, stop_loss
    return 0, None, None

# تطبيق الأعمدة الجديدة للصفقات الشرائية
df['buy_trade_hammer'], df['tp_buy_hammer'], df['sl_buy_hammer'] = zip(*df.apply(lambda row: calculate_buy_trade_hammer(row, df), axis=1))

# تحديد نوع الصفقة للشراء
df['trade_type_hammer'] = df.apply(lambda row: 1 if row['buy_trade_hammer'] == 1 else 0, axis=1)

# دمج أعمدة TP و SL للصفقات الشرائية
df['tp_hammer'] = df.apply(lambda row: row['tp_buy_hammer'] if row['trade_type_hammer'] == 1 else None, axis=1)
df['sl_hammer'] = df.apply(lambda row: row['sl_buy_hammer'] if row['trade_type_hammer'] == 1 else None, axis=1)

# دالة لتحديد حالة الصفقة الشرائية
def determine_trade_result_hammer(row, df):
    idx = row.name  # الفهرس الزمني (Timestamp)
    if row['trade_type_hammer'] == 1:  # صفقة شراء
        for i in range(df.index.get_loc(idx) + 1, len(df)):
            future_row = df.iloc[i]
            if future_row['High'] >= row['tp_hammer']:
                return 2  # رابحة
            elif future_row['Low'] <= row['sl_hammer']:
                return 1  # خاسرة
    return 0  # لا توجد نتيجة

# تطبيق دالة تحديد حالة الصفقة الشرائية
df['trade_result_hammer'] = df.apply(lambda row: determine_trade_result_hammer(row, df), axis=1)










# تعريف دالة التحقق من الشمعة الكبيرة (تبقى كما هي)
def is_large_body(candle):
    body = abs(candle['Open'] - candle['Close'])
    lower_shadow = abs(candle['Low'] - min(candle['Open'], candle['Close']))
    upper_shadow = abs(candle['High'] - max(candle['Open'], candle['Close']))
    return body > (lower_shadow + upper_shadow)

# تعديل دالة الهامر لتصبح شمعة Shooting Star (مقلوبة)
def is_shooting_star(candle):
    body = abs(candle['Open'] - candle['Close'])
    upper_shadow = abs(candle['High'] - max(candle['Open'], candle['Close']))
    lower_shadow = abs(candle['Low'] - min(candle['Open'], candle['Close']))
    return upper_shadow > 1 * body and lower_shadow < body

# تعديل دالة الصفقة لصفقات البيع
def calculate_sell_trade_shooting_star(row, df, tp_multiplier=2, sl_multiplier=1):
    idx = row.name
    if idx == df.index[0]:
        return 0, None, None
    
    first_candle = df.loc[df.index[df.index.get_loc(idx) - 1]]
    second_candle = row
    
    # الشرط المعكوس: شمعة صاعدة كبيرة تليها شمعة Shooting Star
    if is_large_body(first_candle) and first_candle['Close'] > first_candle['Open'] and is_shooting_star(second_candle):
        points = abs(first_candle['Open'] - first_candle['Close'])
        take_profit = second_candle['Close'] - (points * tp_multiplier)
        stop_loss = second_candle['High'] + (points * sl_multiplier)
        return 1, take_profit, stop_loss
    
    return 0, None, None

# تطبيق الأعمدة الجديدة للصفقات البيعية
df['sell_trade_shooting'], df['tp_sell_shooting'], df['sl_sell_shooting'] = zip(*df.apply(
    lambda row: calculate_sell_trade_shooting_star(row, df), axis=1))

# تحديد نوع الصفقة للبيع
df['trade_type_shooting'] = df.apply(lambda row: -1 if row['sell_trade_shooting'] == 1 else 0, axis=1)

# دمج أعمدة TP و SL
df['tp_shooting'] = df.apply(lambda row: row['tp_sell_shooting'] if row['trade_type_shooting'] == -1 else None, axis=1)
df['sl_shooting'] = df.apply(lambda row: row['sl_sell_shooting'] if row['trade_type_shooting'] == -1 else None, axis=1)

# تعديل دالة تحديد نتيجة الصفقة للبيع
def determine_trade_result_shooting(row, df):
    idx = row.name
    if row['trade_type_shooting'] == -1:  # صفقة بيع
        for i in range(df.index.get_loc(idx) + 1, len(df)):
            future_row = df.iloc[i]
            if future_row['Low'] <= row['tp_shooting']:
                return 2  # رابحة
            elif future_row['High'] >= row['sl_shooting']:
                return 1  # خاسرة
    return 0  # لا توجد نتيجة

# تطبيق دالة النتائج
df['trade_result_shooting'] = df.apply(lambda row: determine_trade_result_shooting(row, df), axis=1)








# حساب عمود الرصيد
current_balance = 1000  # رأس المال الابتدائي
balance = [current_balance] * len(df)  # تهيئة القائمة بنفس طول الداتافرام

for i in range(1, len(df)):
    previous_balance = balance[i-1]
    
    if df.iloc[i]['trade_result_hammer'] == 2:  # صفقة رابحة
        balance[i] = previous_balance + (previous_balance * 0.02)  # ربح 2%
    elif df.iloc[i]['trade_result_hammer'] == 1:  # صفقة خاسرة
        balance[i] = previous_balance - (previous_balance * 0.01)  # خسارة 1%
    elif df.iloc[i]['trade_result_shooting'] == 2:  # صفقة رابحة
        balance[i] = previous_balance + (previous_balance * 0.02)  # ربح 2%
    elif df.iloc[i]['trade_result_shooting'] == 1:  # صفقة خاسرة
        balance[i] = previous_balance - (previous_balance * 0.01)  # خسارة 1%
    else:
        balance[i] = previous_balance  # بدون تغيير

df['balance'] = balance

df = df[['Gmt time', 'Open', 'High', 'Low', 'Close', 
         'trade_type_hammer', 'trade_result_hammer', 'tp_hammer', 'sl_hammer',
          'trade_type_shooting','trade_result_shooting', 'tp_shooting' , 'sl_shooting' ,
          'balance']]

# عرض النتائج مع العمود الجديد
print('done')

done

In [37]:
df

,Gmt time,Open,High,Low,Close,trade_type_hammer,trade_result_hammer,tp_hammer,sl_hammer,trade_type_shooting,trade_result_shooting,tp_shooting,sl_shooting,balance
0,2020-01-01 00:00:00,1516.915,1516.915,1516.915,1516.915,0,0,NaN,NaN,0,0,NaN,NaN,1.000000e+03
1,2020-01-01 00:05:00,1516.915,1516.915,1516.915,1516.915,0,0,NaN,NaN,0,0,NaN,NaN,1.000000e+03
2,2020-01-01 00:10:00,1516.915,1516.915,1516.915,1516.915,0,0,NaN,NaN,0,0,NaN,NaN,1.000000e+03
3,2020-01-01 00:15:00,1516.915,1516.915,1516.915,1516.915,0,0,NaN,NaN,0,0,NaN,NaN,1.000000e+03
4,2020-01-01 00:20:00,1516.915,1516.915,1516.915,1516.915,0,0,NaN,NaN,0,0,NaN,NaN,1.000000e+03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
526171,2024-12-31 23:35:00,2624.255,2624.255,2624.255,2624.255,0,0,NaN,NaN,0,0,NaN,NaN,6.578457e+42
526172,2024-12-31 23:40:00,2624.255,2624.255,2624.255,2624.255,0,0,NaN,NaN,0,0,NaN,NaN,6.578457e+42
526173,2024-12-31 23:45:00,2624.255,2624.255,2624.255,2624.255,0,0,NaN,NaN,0,0,NaN,NaN,6.578457e+42
526174,2024-12-31 23:50:00,2624.255,2624.255,2624.255,2624.255,0,0,NaN,NaN,0,0,NaN,NaN,6.578457e+42
526175,2024-12-31 23:55:00,2624.255,2624.255,2624.255,2624.255,0,0,NaN,NaN,0,0,NaN,NaN,6.578457e+42

In [38]:
# تحويل الأرقام إلى تنسيق عشري مع 2 منازل عشرية
df['balance'] = df['balance'].apply(lambda x: f"{x:.2f}")

C:\Users\Access\AppData\Local\Temp\ipykernel_17800\1525563271.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balance'] = df['balance'].apply(lambda x: f"{x:.2f}")

In [39]:
df

,Gmt time,Open,High,Low,Close,trade_type_hammer,trade_result_hammer,tp_hammer,sl_hammer,trade_type_shooting,trade_result_shooting,tp_shooting,sl_shooting,balance
0,2020-01-01 00:00:00,1516.915,1516.915,1516.915,1516.915,0,0,NaN,NaN,0,0,NaN,NaN,1000.00
1,2020-01-01 00:05:00,1516.915,1516.915,1516.915,1516.915,0,0,NaN,NaN,0,0,NaN,NaN,1000.00
2,2020-01-01 00:10:00,1516.915,1516.915,1516.915,1516.915,0,0,NaN,NaN,0,0,NaN,NaN,1000.00
3,2020-01-01 00:15:00,1516.915,1516.915,1516.915,1516.915,0,0,NaN,NaN,0,0,NaN,NaN,1000.00
4,2020-01-01 00:20:00,1516.915,1516.915,1516.915,1516.915,0,0,NaN,NaN,0,0,NaN,NaN,1000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
526171,2024-12-31 23:35:00,2624.255,2624.255,2624.255,2624.255,0,0,NaN,NaN,0,0,NaN,NaN,6578457112354471507987091518440318166892544.00
526172,2024-12-31 23:40:00,2624.255,2624.255,2624.255,2624.255,0,0,NaN,NaN,0,0,NaN,NaN,6578457112354471507987091518440318166892544.00
526173,2024-12-31 23:45:00,2624.255,2624.255,2624.255,2624.255,0,0,NaN,NaN,0,0,NaN,NaN,6578457112354471507987091518440318166892544.00
526174,2024-12-31 23:50:00,2624.255,2624.255,2624.255,2624.255,0,0,NaN,NaN,0,0,NaN,NaN,6578457112354471507987091518440318166892544.00
526175,2024-12-31 23:55:00,2624.255,2624.255,2624.255,2624.255,0,0,NaN,NaN,0,0,NaN,NaN,6578457112354471507987091518440318166892544.00

In [40]:
df['trade_type_hammer'].value_counts()

trade_type_hammer
0    516750
1      9426
Name: count, dtype: int64

In [41]:
df['trade_type_shooting'].value_counts()

trade_type_shooting
 0    516532
-1      9644
Name: count, dtype: int64

In [42]:
df = df[~((df['trade_type_shooting'] == 0) & (df['trade_type_hammer'] ==0 ))]

In [43]:
df

,Gmt time,Open,High,Low,Close,trade_type_hammer,trade_result_hammer,tp_hammer,sl_hammer,trade_type_shooting,trade_result_shooting,tp_shooting,sl_shooting,balance
310,2020-01-02 01:50:00,1519.300,1519.408,1518.875,1519.365,1,1,1519.981,1518.567,0,0,NaN,NaN,990.00
314,2020-01-02 02:10:00,1518.945,1519.235,1518.875,1519.065,0,0,NaN,NaN,-1,1,1518.045,1519.745,980.10
325,2020-01-02 03:05:00,1520.845,1521.135,1520.845,1520.925,0,0,NaN,NaN,-1,2,1520.405,1521.395,999.70
335,2020-01-02 03:55:00,1520.208,1520.298,1520.115,1520.275,1,1,1520.655,1519.925,0,0,NaN,NaN,989.70
361,2020-01-02 06:05:00,1520.505,1520.768,1520.345,1520.405,0,0,NaN,NaN,-1,2,1519.665,1521.138,1009.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
526071,2024-12-31 15:15:00,2617.935,2619.415,2617.765,2618.648,0,0,NaN,NaN,-1,1,2613.308,2622.085,6386876368796064581931432697742612225851392.00
526073,2024-12-31 15:25:00,2617.475,2618.355,2616.935,2617.965,1,2,2620.325,2615.755,0,0,NaN,NaN,6514613896171985675499655066036620486508544.00
526104,2024-12-31 18:00:00,2624.135,2625.205,2623.115,2625.125,1,2,2626.485,2622.435,0,0,NaN,NaN,6644906174095425240456843453111719908343808.00
526109,2024-12-31 18:25:00,2625.455,2627.065,2625.365,2625.875,0,0,NaN,NaN,-1,0,2619.955,2630.025,6644906174095425240456843453111719908343808.00
526123,2024-12-31 19:35:00,2623.875,2624.095,2623.245,2623.635,1,1,2625.535,2622.295,0,0,NaN,NaN,6578457112354471507987091518440318166892544.00

In [44]:
df.to_csv(r"C:\Users\Access\Documents\AI\XAUUSD_5m_trade_result_hamm-shoo_balance.csv", index=True)